In [1]:
import pandas as pd

In [2]:
#Baixando o CSV com os dados de 2011-2022

df = pd.read_csv('champions_stats.csv')

df.head()

,season,event,champion,games_contests,pick_ban_ratio,banned_games,played_games,played_by_number_of_players,win,lose,...,kill_death_assist_ratio,creep_score,cs/min,gold,gold/min,damage,damage/min,kill_participation,kill_share,gold_share
0,1,Main,Nunu,27,96.4,9.0,18,6.0,12,6,...,3.63,90.17,2.46,9.4,256.0,NaN,NaN,NaN,NaN,NaN
1,1,Main,Alistar,25,89.3,12.0,13,4.0,8,5,...,4.03,114.00,3.11,9.6,261.0,NaN,NaN,NaN,NaN,NaN
2,1,Main,Rumble,23,82.1,21.0,2,2.0,2,0,...,8.33,162.00,5.02,10.1,311.0,NaN,NaN,NaN,NaN,NaN
3,1,Main,Vladimir,22,78.6,14.0,8,5.0,3,5,...,2.39,224.63,5.99,11.2,298.0,NaN,NaN,NaN,NaN,NaN
4,1,Main,Twisted Fate,22,78.6,18.0,4,2.0,2,2,...,1.67,206.50,5.43,11.4,299.0,NaN,NaN,NaN,NaN,NaN

In [3]:
#FaÃ§o um tratamento para conciliar Season com o ano vigente 
#Como a ideia Ã© virar um Index, Ã© mais tranquilo organizar por ano do MSI/Mundial
 
df['ano'] = pd.to_datetime(2000 + 10 + df['season'], format='%Y') + pd.offsets.DateOffset(months=0, days=0)
df['ano'] = pd.to_datetime(df['ano']).dt.year
df.head()

,season,event,champion,games_contests,pick_ban_ratio,banned_games,played_games,played_by_number_of_players,win,lose,...,creep_score,cs/min,gold,gold/min,damage,damage/min,kill_participation,kill_share,gold_share,ano
0,1,Main,Nunu,27,96.4,9.0,18,6.0,12,6,...,90.17,2.46,9.4,256.0,NaN,NaN,NaN,NaN,NaN,2011
1,1,Main,Alistar,25,89.3,12.0,13,4.0,8,5,...,114.00,3.11,9.6,261.0,NaN,NaN,NaN,NaN,NaN,2011
2,1,Main,Rumble,23,82.1,21.0,2,2.0,2,0,...,162.00,5.02,10.1,311.0,NaN,NaN,NaN,NaN,NaN,2011
3,1,Main,Vladimir,22,78.6,14.0,8,5.0,3,5,...,224.63,5.99,11.2,298.0,NaN,NaN,NaN,NaN,NaN,2011
4,1,Main,Twisted Fate,22,78.6,18.0,4,2.0,2,2,...,206.50,5.43,11.4,299.0,NaN,NaN,NaN,NaN,NaN,2011

In [4]:
df.head()

,season,event,champion,games_contests,pick_ban_ratio,banned_games,played_games,played_by_number_of_players,win,lose,...,creep_score,cs/min,gold,gold/min,damage,damage/min,kill_participation,kill_share,gold_share,ano
0,1,Main,Nunu,27,96.4,9.0,18,6.0,12,6,...,90.17,2.46,9.4,256.0,NaN,NaN,NaN,NaN,NaN,2011
1,1,Main,Alistar,25,89.3,12.0,13,4.0,8,5,...,114.00,3.11,9.6,261.0,NaN,NaN,NaN,NaN,NaN,2011
2,1,Main,Rumble,23,82.1,21.0,2,2.0,2,0,...,162.00,5.02,10.1,311.0,NaN,NaN,NaN,NaN,NaN,2011
3,1,Main,Vladimir,22,78.6,14.0,8,5.0,3,5,...,224.63,5.99,11.2,298.0,NaN,NaN,NaN,NaN,NaN,2011
4,1,Main,Twisted Fate,22,78.6,18.0,4,2.0,2,2,...,206.50,5.43,11.4,299.0,NaN,NaN,NaN,NaN,NaN,2011

In [5]:
#Criando o dataframe pro grÃ¡fico

df_new = df[['champion', 'games_contests', 'ano']]
df_new.head()

       champion  games_contests   ano
0          Nunu              27  2011
1       Alistar              25  2011
2        Rumble              23  2011
3      Vladimir              22  2011
4  Twisted Fate              22  2011

In [6]:
#Nesta etapa o que fazemos Ã© somar ano a ano os campeÃµes para criar um acumulado.

df_chart = df_new.pivot_table(
    index='ano',
    columns='champion',
    values='games_contests',
    aggfunc='sum'  # ou 'mean', 'max', etc. conforme seu caso
)

df_chart = df_chart.rename_axis(None, axis=1).reset_index()

In [7]:
#Conferindo o resultado
df_chart.head()

,ano,Aatrox,Ahri,Akali,Alistar,Amumu,Anivia,Annie,Aphelios,Ashe,...,Yasuo,Yone,Yorick,Yuumi,Zac,Zed,Ziggs,Zilean,Zoe,Zyra
0,2011,NaN,NaN,7.0,25.0,18.0,14.0,10.0,NaN,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
1,2012,NaN,2.0,NaN,19.0,1.0,19.0,NaN,NaN,NaN,...,NaN,NaN,11.0,NaN,NaN,NaN,NaN,2.0,NaN,4.0
2,2013,36.0,52.0,NaN,NaN,NaN,NaN,12.0,NaN,7.0,...,NaN,NaN,3.0,NaN,17.0,63.0,1.0,1.0,NaN,48.0
3,2014,6.0,13.0,1.0,78.0,NaN,NaN,NaN,NaN,NaN,...,30.0,NaN,NaN,NaN,NaN,38.0,2.0,75.0,NaN,NaN
4,2015,NaN,3.0,NaN,33.0,NaN,6.0,10.0,NaN,13.0,...,12.0,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN

In [8]:
#Setando o ano como Index
df_chart.set_index('ano', inplace=True)

#Trocando NaN por 0 
df_chart = df_chart.fillna(0)

In [9]:
#O cumsum faz o acumulado dos dados.
df_chart_acumulado = df_chart.cumsum()

In [11]:
#Instalamos o bar_chart_race

!pip install bar_chart_race

Requirement already satisfied: bar_chart_race in /opt/anaconda3/lib/python3.12/site-packages (0.1.0)
Requirement already satisfied: pandas>=0.24 in /opt/anaconda3/lib/python3.12/site-packages (from bar_chart_race) (2.2.2)
Requirement already satisfied: matplotlib>=3.1 in /opt/anaconda3/lib/python3.12/site-packages (from bar_chart_race) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.1->bar_chart_race) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.1->bar_chart_race) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.1->bar_chart_race) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.1->bar_chart_race) (1.4.4)
Requirement already satisfied: numpy>=1.23 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.1->bar_chart_race) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.1->bar_chart_race) (24.1)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.1->bar_chart_race) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.1->bar_chart_race) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.1->bar_chart_race) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.24->bar_chart_race) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.24->bar_chart_race) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib>=3.1->bar_chart_race) (1.16.0)

In [12]:
import bar_chart_race as bcr

In [13]:
#Eu tive MUITA dificuldade com essa etapa pois Ã© normal ocorrer vÃ¡rios erros, mas tem bastante tutorial na net que ajuda a sanar.
#AlÃ©m disso o GPT foi crucial tambÃ©m haha
!pip install ffmpeg-python

Requirement already satisfied: ffmpeg-python in /opt/anaconda3/lib/python3.12/site-packages (0.2.0)
Requirement already satisfied: future in /opt/anaconda3/lib/python3.12/site-packages (from ffmpeg-python) (1.0.0)

In [14]:
import matplotlib as mpl

In [15]:
#Essa foi uma etapa necessaria para forÃ§ar o matplot a localizar o arquivo ffmpeg, responsÃ¡vel por gerar o grÃ¡fico

mpl.rcParams['animation.ffmpeg_path'] = '/opt/homebrew/bin/ffmpeg'  # ajuste se for conda

In [16]:
#um checklist para avaliar se de fato deu certo
from matplotlib import animation
print(animation.writers.list())

['pillow', 'ffmpeg', 'ffmpeg_file', 'html']

In [19]:
#cÃ³digo que de fato gera o arquivo responsÃ¡vel pelo chart race.
#documentaÃ§Ã£o: https://www.dexplo.org/bar_chart_race/
import bar_chart_race as bcr

bcr.bar_chart_race(
    df=df_chart_acumulado,
    filename='saida__.mp4',  # ou None para exibir apenas no notebook
    orientation='h',
    sort='desc',
    n_bars=10,
    steps_per_period=80,
    period_length=2500,
    title='CampeÃµes mais jogados por ano pelo MSI',
    interpolate_period=False
)

/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:889: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_values.iloc[:, 0] = df_values.iloc[:, 0].fillna(method='ffill')
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 127 () missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 128 (\x80) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 129 (\x81) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 130 (\x82) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 131 (\x83) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 132 (\x84) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 133 (\x85) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 134 (\x86) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 135 (\x87) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 136 (\x88) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 137 (\x89) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 138 (\x8a) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 139 (\x8b) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 140 (\x8c) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 141 (\x8d) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 142 (\x8e) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 143 (\x8f) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 144 (\x90) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 145 (\x91) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 146 (\x92) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 147 (\x93) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 148 (\x94) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 149 (\x95) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 150 (\x96) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 151 (\x97) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 152 (\x98) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 153 (\x99) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 154 (\x9a) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 155 (\x9b) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 156 (\x9c) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 157 (\x9d) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 158 (\x9e) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:284: UserWarning: Glyph 159 (\x9f) missing from font(s) DejaVu Sans.
  fig.canvas.print_figure(io.BytesIO())
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:286: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_yticklabels(self.df_values.columns)
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:287: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:226: UserWarning: Some of your columns never make an appearance in the animation. To reduce color repetition, set `filter_column_colors` to `True`
  warnings.warn("Some of your columns never make an appearance in the animation. "